*{
  margin:0;
  padding: 0;
  margin-left: 100px;
  list-style: none;
  text-decoration: none;
}
body{
  background-color: #828282;
  animation: color 20s;
}

.stack1{
  z-index: 4;
  margin-left: -10px;
  display:block;
  animation: slid1 20s;

}

.stack2{
  z-index: 3;
  margin-top: -505px;
  margin-left: -9px;
  display: block;
  opacity: 0;
  animation: slid2 20s;

}

.stack3{
  z-index: 2;
  margin-top: -503px;
  margin-left: -9px;
  display: block;
  opacity: 0;
  animation: slid3 20s;
}

.stack4{
  z-index: 1;
  margin-top: -505px;
  margin-left: -9px;
  display: block;
  opacity: 0;
  animation: slid4 20s;
}

.block{
  margin-top:-100px;
  background-color: white;
  border-radius: 25px;
  width: 500px;
  height: 250px;
  bottom: 0px;
}

.block p, h4{
  position: relative;
  top : 120px;
  margin-left: 25px;
}

p{
  padding-top: 15px;

}
.slide img{
  border-radius: 25px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  position: relative;
  width: 500px;
  height: 350px;
}

.slider{
  position: relative;
  top: 50px;
  right: 190px;
}

@keyframes slid1 {
  0%{
    opacity: 1;
  }
  10%{
    opacity: 1;
  }
  12%{
    opacity: 0;
  }
  13%{
    opacity: 0;
  }
  22%{
    opacity: 0;
  }
  24%{
    opacity: 0;
  }
  25%{
    opacity: 0;
  }
  34%{
    opacity: 0;
  }
  36%{
    opacity: 0;
  }
  37%{
    opacity: 0;
  }
  46%{
    opacity: 0;
  }
  48%{
    opacity: 0;
  }
  49%{
    opacity: 1;
  }
}


@keyframes slid2 {
  0%{
    opacity: 0;
  }
  10%{
    opacity: 0;
  }
  12%{
    opacity: 0;
  }
  13%{
    opacity: 1;
  }
  22%{
    opacity: 1;
  }
  24%{
    opacity: 0;
  }
}

@keyframes slid3 {
  0%{
    opacity: 0;
  }
  10%{
    opacity: 0;
  }
  12%{
    opacity: 0;
  }
  13%{
    opacity: 0;
  }
  22%{
    opacity: 0;
  }
  24%{
    opacity: 0;
  }
  25%{
    opacity: 1;
  }
  34%{
    opacity: 1;
  }
  36%{
    opacity: 0;
  }
}

@keyframes slid4 {
  0%{
    opacity: 0;
  }
  10%{
    opacity: 0;
  }
  12%{
    opacity: 0;
  }
  13%{
    opacity: 0;
  }
  22%{
    opacity: 0;
  }
  24%{
    opacity: 0;
  }
  25%{
    opacity: 0;
  }
  34%{
    opacity: 0;
  }
  36%{
    opacity: 0;
  }
  37%{
    opacity: 1;
  }
  46%{
    opacity: 1;
  }
  48%{
    opacity: 0;
  }
}

@keyframes color {
  0%{
    background-color: #828282;
  }
  10%{
    background-color: #828282;
  }
  12%{
    background-color: #828282;
  }
  13%{
    background-color: #96d6ee;
  }
  22%{
    background-color: #96d6ee;
  }
  24%{
    background-color: #96d6ee;
  }
  25%{
    background-color: #faf494;
  }
  34%{
    background-color: #faf494;
  }
  36%{
    background-color: #faf494;
  }
  37%{
    background-color: #f4aed4;
  }
  46%{
    background-color: #f4aed4;
  }
  48%{
    background-color: #f4aed4;
  }
  49%{
    background-color: #828282;
  }
}
